# Binaries
*.exe
*.dll
*.so
*.dylib
plonk
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.coverprofile
coverage.*
coverage.html
coverage.txt

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the comment if you are using dep)
# vendor/

# IDE specific files
.idea/
*.swp
*.swo
*~
.vscode/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Build directories
dist/
build/